* {
    margin: 0;
    padding: 0;
}

/* font style------------ */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #222831;
    color: white;
}

header {
    margin: 30px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.nav-title {
    color: #948979;
}

.nav-title span {
    color: #DFD0B8;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

nav li {
    list-style: none;
    padding-right: 40px;
    font-size: 15px;
    font-weight: 300;
}

nav li:last-child {
    padding-left: 30px;
    border-left: 1px solid white;

}

nav li a {
    text-decoration: none;
    color: #DFD0B8;
}

nav li a:hover {
    border-bottom: 1px solid #DFD0B8;
}

nav li:last-child a {
    padding-bottom: 5px;
    border-bottom: 1px solid #DFD0B8;
}

/* banner styles------------- */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 140px;
}

.banner-content {
    width: 50%;
}

.banner-subcontent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-description {
    color: #9ca1a9;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
}

.banner-description span {
    color: #DFD0B8;
    font-size: 30px;
    font-weight: 600;
}

.banner-greeting {
    font-size: 25px;
    font-weight: 400;
    color: #9ca1a9;
    margin-bottom: 10px;
}

.banner-name {
    font-size: 30px;
    font-weight: 500;
    color: #b9bfc8;
    margin-bottom: 10px;
}

.banner-title {
    font-size: 50px;
    font-weight: 800;
    color: #c2b39c;
    margin-bottom: 30px;
    padding-bottom: 5px;

}

.banner-title span {
    color: #e2d5c0;
}

.border {
    border-bottom: 3px solid #DFD0B8;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -105px;
    margin-bottom: 40px;
    font-size: 41px;
}

.border h2 {
    visibility: hidden;
}

.icon {
    display: flex;
    gap: 20px;
}

.icon {
    margin-bottom: 40px;
}

.icon a {
    text-decoration: none;
    color: #DFD0B8;
}

.icon i {
    border: 2px solid #DFD0B8;
    border-radius: 50%;
    padding: 7px;
    color: #DFD0B8;
}

.icon i:hover {
    box-shadow: 1px 1px 1px 1px #DFD0B8;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 17px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
}

.primary-btn {
    background-color: #DFD0B8;
    ;
    color: #b9bfc8;
    padding: 10px 20px;
    color: #222831
}

.primary-btn:hover {
    background-color: #393E46;
    color: #DFD0B8;
}

.secondary-btn {
    border: 1px solid #DFD0B8;
    background: none;
    color: #DFD0B8;
}

.secondary-btn:hover {
    background-color: #393E46;
    color: #DFD0B8;
}

.banner-animation {
    animation: myTextAnimation 2s ease-in;
}

.bannerNameAnimation {
    animation: myTextNameAnimation 2s ease-in;
}

.bannerCards {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}

.card {
    border-right: 1px solid #DFD0B8;
    padding-right: 35px;
}

.cardTitle {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #b4b8bf;
}

.cardSubtitle {
    font-size: 15px;
    font-weight: 400;
    color: #cbc1b1;
}

/* animation style-------------- */

@keyframes myTextNameAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        opacity: 1;
        transform: translateY(5x);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes myTextAnimation {

    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0x);
    }

    100% {
        transform: translateY(0px);
    }
}